/* General and overall stylings */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

p {
    margin: 0px;
    font-size:0.95em;
    color:#222;
}

div.content {
    padding: 25px 25px 25px 25px;
    min-height: 800px;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container h1:first-of-type {
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    letter-spacing: 5px;
}

div.content h1, h2, h3, h4, h5, h6 {
    color: #6cf;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 0.2em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: keep-all;
    word-break: keep-all;
    word-break: keep-all;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* Simple grid system */
.wrapper {
    position: relative;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
}

@media (min-width: 1024px) {
    .row {
        margin-right: -1.333%;
        margin-left: -1.333%;
    }

    [class^="col-"],
    [class*=" col-"]{
        position: relative;
        float: left;
        padding-right: 1.333%;
        padding-left: 1.333%;
        min-height: 1px;
        width: 100%;
    }

    .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
    }

    .row.no-gutter [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }

    .col-1  { width: 8.333%;  }
    .col-2  { width: 16.666%; }
    .col-3  { width: 25%;     }
    .col-4  { width: 33.333%; }
    .col-5  { width: 41.666%; }
    .col-6  { width: 50%;     }
    .col-7  { width: 58.333%; }
    .col-8  { width: 66.666%; }
    .col-9  { width: 75%;     }
    .col-10 { width: 83.333%; }
    .col-11 { width: 91.666%; }
    .col-12 { width: 100%;    }

    /* Push & pull */
    .push-1  { left: 8.333%;  }
    .push-2  { left: 16.666%; }
    .push-3  { left: 25%;     }
    .push-4  { left: 33.333%; }
    .push-5  { left: 41.666%; }
    .push-6  { left: 50%;     }
    .push-7  { left: 58.333%; }
    .push-8  { left: 66.666%; }
    .push-9  { left: 75%;     }
    .push-10 { left: 83.333%; }
    .push-11 { left: 91.666%; }
    .push-12 { left: 100%;    }

    .pull-1  { right: 8.333%;  }
    .pull-2  { right: 16.666%; }
    .pull-3  { right: 25%;     }
    .pull-4  { right: 33.333%; }
    .pull-5  { right: 41.666%; }
    .pull-6  { right: 50%;     }
    .pull-7  { right: 58.333%; }
    .pull-8  { right: 66.666%; }
    .pull-9  { right: 75%;     }
    .pull-10 { right: 83.333%; }
    .pull-11 { right: 91.666%; }
    .pull-12 { right: 100%;    }
}

.container:before,
.container:after,
.wrapper:before,
.wrapper:after,
.row:before,
.row:after {
    display: table;
    content: " ";
}

.container:after,
.wrapper:after,
.row:after {
    clear: both;
}

/* General layout stylings for frontend */
div.header {
    z-index: 2;
    font-size: 17px;
    background-color: #5f5f5f;
    color: #f1f1f1;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    position: fixed;
    top: 0px;
    min-height: 44px;
    font-family: 'Montserrat', sans-serif;
}

div.header a.topnav_logo:hover {
    background-color: #6cf;
}

div.header .topnav_logo img {
    height: 18px;
    position: relative;
    top: 5px;
}

.topnav a {
    padding:10px 15px 9px 15px;
    color:#ffffff !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.topnav a:hover,.topnav a:focus{
    background-color:#000000;
    color:#ffffff !important;
}

.topnav a.active {
    background-color:#6cf;
    color:#ffffff;
}

a.topnav-icons {
    width: 52px !important;
    font-size: 20px !important;
    padding-top: 11px !important;
    padding-bottom: 13px !important;
}

@media (max-width: 400px) {

    div.header {
        font-size: 15px;
    }

    div.header .ac-right {
        float: none !important;
    }

    div.header .ac-left {
        float: none !important;
    }

    .topnav a {
        padding: 12px 15px 9px 15px;
        color: #ffffff !important;
        text-decoration: none;
    }

    div.content {
        width: 100%;
    }
}

@media (max-width: 550px) {

    div.header {
        font-size: 15px;
    }

    div.header .ac-right {
        float: none !important;
    }

    div.header .ac-left {
        float: none !important;
    }

    .topnav a {
        padding: 12px 15px 9px 15px;
        color: #ffffff !important;
        text-decoration: none;
    }
}


@media (max-width: 575.98px) {

    div.content {
        min-height: 100%;
    }
}

div.haeder_logo {
    margin-top: 45px;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 25px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

div.haeder_logo img {
    width: 100%;
    height: auto;
}

div.footer {
    z-index: 2;
    font-size: 12px;
    background-color: #6cf;
    color: #f1f1f1;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    min-height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

@media (max-width: 685px) {

    .ac-right {
        float: none !important;
    }

    .ac-left {
        float: none !important;
    }

    div.footer {
        position: relative;
    }

    div.footer.ac_card a {
        width: 100%;
        line-height: 0.4;
        padding: 10px 0px;
    }
}

@media (max-width: 685px) {

    .ac-right {
        float: none !important;
    }

    .ac-left {
        float: none !important;
    }

    div.footer {
        position: normal;
    }

    div.footer.ac_card a {
        width: 100%;
        line-height: 0.4;
        padding: 10px 0px;
    }
}

/* Helpers */
.ac_card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.ac-right {
    float: right !important;
}

.ac-left {
    float: left !important;
}

.ac-bar .ac-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.ac-btn, .ac-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.top {
    position: relative;
    background-color: #ffffff;
    height: 68px;
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

button,
.button {
    margin-bottom: 1rem;
}

/* Inputs */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
textarea {
    min-height: 250px;
    padding-top: 6px;
    padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
fieldset {
    padding: 0;
    border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
    display: inline; }
label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }

/* Overall margins */
input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #bbb;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}

/* Tables */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}

/* Lists */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}

/* Overall link styles */
a {
    color: #1EAEDB;
}

a:hover {
    color: #0FA0CE;
}

/* Overall Spacing */
button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}

/* Overall global clearing */
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

/* Artcile card */
.card {
    min-height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
    margin-bottom: 55px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card hr {
    margin-top: -30px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.1em;
    height: 60px;
    overflow: hidden;
}

.card .limited {
    max-width: 250px;
    min-height: 289px;
    margin-left: auto;
    margin-right: auto;
}

.card .limited img {
    max-width: 100%;
    display: block;
    border: 1px solid rgba(0,0,0,0.2);
}

.card div.description {
    height: 9.6em;
    overflow: hidden;
    pointer-events: none;
    cursor: default;
}

.card div.description_details {
    height: 25.1em;
    pointer-events: none;
    cursor: default;
}

.card div.description p {
    font-size: 0.8em;
    letter-spacing: 1px;
    pointer-events: none;
    cursor: default;
}

.card div.product_sub,
.card div.product_sub_cart {
    height: 45px;
}

.card div.product_sub p span.price,
.card div.product_sub_cart p span.price {
    font-weight: 600;
    text-decoration: underline;
}

.card div.product_sub p span.gross,
.card div.product_sub_cart p span.gross {
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
    color: #5f5f5f;
}

.card div.product_sub button.add_to_cart,
.card div.product_sub a.add_to_cart,
.card div.product_sub_cart button.add_to_cart {
    position: relative;
    bottom: 80px;
    font-weight: 600;
    float: right;
}

.card div.product_sub button.add_to_cart .fa,
.card div.product_sub a.add_to_cart .fa,
.card div.product_sub_cart button.add_to_cart .fa {
    font-weight: 600;
}

.card div.product_sub input[type="number"],
.card div.product_sub_cart input[type="number"] {
    width: 65px;
    position: relative;
    bottom: 80px;
    float: right;
    margin-right: 5px;
}

@media screen and (max-width: 1264px) {

    .card div.product_sub {
        height: 95px;
    }

    .card div.product_sub input[type="number"] {
        float: left;
        position: relative;
        top: -25px;
    }

    .card div.product_sub button.add_to_cart {
        position: relative;
        top: -25px;
    }
}

@media screen and (max-width: 1102px) {

    .card div.product_sub {
        height: 95px;
    }

    .card div.product_sub input[type="number"] {
        float: left;
        position: relative;
        top: -25px;
    }

    .card div.product_sub button.add_to_cart {
        position: relative;
        top: -25px;
    }
}

@media screen and (max-width: 1024px) {

    .card div.product_sub {
        height: 95px;
    }

    .card div.product_sub input[type="number"] {
        float: left;
        position: relative;
        top: -25px;
    }

    .card div.product_sub button.add_to_cart {
        position: relative;
        top: -25px;
    }
}

@media screen and (max-width: 768px) {

    .content.cart div.card {
        min-height: 400px;
    }

    .content.cart .card.cart_amounts {
        height: 175px;
        margin-top: -10px;
    }

    .card div.product_sub_cart {
        height: 95px;
    }

    .card div.product_sub_cart input[type="number"] {
        float: left;
        position: relative;
        top: -25px;
    }

    .card div.product_sub_cart button.add_to_cart {
        position: relative;
        top: -25px;
    }
}

.card .manufacturer_platform {
    font-size: 12px;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card .manufacturer_platform  span{
    font-weight: 600;
}

/* Pagination */
ul.pagination {
    margin-bottom: 25px;
    margin-left: 0px;
    font-weight: 300;
    list-style: none;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a.button.button-primary {
    font-weight: 800;
    text-decoration: underline;
}

.pagination_totals {
    font-size: 12px;
    margin-top: -35px;
    margin-left: 0px;
}

.pagination_totals span {
    font-weight: 600;
}

/* Article flter */
.article_col {
    min-height: 1200px;
}

.article_col .card p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.article_col .card label {
    display: inline;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    float: right;
    position: absolute;
    left: 50px;
    max-width: 200px;
}

@media screen and (max-width: 1264px) {
    .article_col .card label {
        max-width: 160px;
    }
}

@media screen and (max-width: 1102px) {
    .article_col .card label {
        max-width: 120px;
    }
}

@media screen and (max-width: 1024px) {
    .article_col .card label {
        max-width: 100%;
    }
}

/* Search bar input */
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 17px;
    font-size: 0.71em;
    margin-bottom: -0.5rem;
    margin-left: 10px;
    position: fixed !important;
    right: 0;
}

/* Inline search */
div.row div#inline_search.inline_search {
    display: none;
    width: 438px;
    float: right;
    position: fixed;
    right: 0;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 10000;
    top: 53px;
    padding: 20px;
    border-left: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
    border-top: 0px;
    border-right: 0px;
}

div.row div#inline_search.inline_search div.card {
    min-height: 160px !important;
    box-shadow: none;
    height: auto;
    margin-bottom: 0px;
}

div#inline_search.inline_search div.card div h2 {
    font-size: 0.7em;
    overflow: hidden;
    height: auto !important;
    padding-top: 15px;
}

div#inline_search.inline_search div.card div.product_sub p span.price {
    font-size: 0.7em;
    margin-top: -38px;
}

div#inline_search.inline_search div.card div.product_sub a.add_to_cart.button.button-primary {
    position: relative;
    bottom: 90px;
    font-weight: 600;
    float: right;
}

div#inline_search.inline_search div.card div.product_sub {
    border-width: 0;
    border-top-width: 0px;
    border-top-width: 0px;
    height: 0px;
}

div#inline_search.inline_search hr {
    margin-top: -1rem;
    margin-bottom: -1rem;
}

div#inline_search.inline_search a.close_inline_search,
div#inline_search.inline_search a.close_inline_search:hover,
div#inline_search.inline_search a.close_inline_search:hover:active {
    float: right;
    position: fixed;
    right: 15px;
    z-index: 10001;
    top: 55px;
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .topnav input[type=text] {
        visibility: hidden;
    }

    div#inline_search.inline_search {
        visibility: hidden;
    }
}

/* Image slides replacement */
#product-listing div.card img#large_detail {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#slideshow {
    min-height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: inherit;
}

#slideshow a:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

#slideshow a img {
    float: left;
    display: block;
    border: none;
    max-width: 80px;
    height: auto;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    margin-top: 15px;
    padding: 2px;
    margin: 5px;
}

@media screen and (max-width: 1489px) {
    #slideshow a img {
        max-width: 60px;
    }
}

@media screen and (max-width: 1270px) {
    #slideshow a img {
        max-width: 55px;
    }
}

@media screen and (max-width: 1215px) {
    #slideshow a img {
        max-width: 50px;
    }
}

@media screen and (max-width: 1158px) {
    #slideshow a img {
        max-width: 60px;
    }
}

@media screen and (max-width: 480px) {
    #slideshow a img {
        max-width: 80px;
    }
}

@media screen and (max-width: 320px) {
    #slideshow a img {
        max-width: 50px;
    }
}

#slideshow a:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

/* Cart */
.content.cart .card .limited {
    float: left;
}

.content.cart .card .cart_details {
    float: right;
    width: 75%;
    padding-left: 25px;
}

.content.cart .card .cart_details .del_cart_item {
    float: right;
    right: 15px;
    z-index: 10001;
    top: 55px;
    color: red;
    cursor: pointer;
}

.content.cart .card .cart_details  h2 {
    font-size: 0.8em;
    height: auto;
    margin-top: 0.617px;
}

.content.cart .card .cart_details .manufacturer_platform p {
    height: auto;
}

.card div.description p

.content.cart .card .cart_details .product_sub {
    margin-top: -30px;
    font-size: 0.9em;
}

.content.cart .card .cart_details .product_sub p span {
    float: none;
}

.content.cart .card .cart_details .product_sub .add_to_cart {
    position: relative;
    bottom: 80px;
    font-weight: 600;
    float: right;
}

.content.cart .card .cart_details .product_sub input[type="number"] {
    width: 65px;
    position: relative;
    bottom: 80px;
    float: right;
    margin-right: 5px;
}

@media (max-width: 1280px) {

    .content.cart .card .limited {
        display: none;
    }

    .content.cart .card .cart_details {
        float: right;
        width: 100% !important;
        padding-left: 0px;
    }
}

@media (max-width: 568px) {
    .content.cart .card .cart_details .product_sub input[type="number"],
    .content.cart .card .cart_details .product_sub .add_to_cart {
        display: none;
    }
}

.content.cart .card.cart_amounts {
    min-height: 90px;
    margin-top: -10px;
}

.content.cart .card.cart_amounts .checkout_buttons {
    margin-top: 10px;
    float: left;
}

.content.cart .card.cart_amounts p {
    margin-bottom: 0.2rem;
    float: right;
    text-align: right;
}

@media (max-width: 1030px) {
    .content.cart .card.cart_amounts {
        height: 200px;
        margin-top: -60px;
    }

    .content.cart .card.cart_amounts .checkout_buttons {
        text-align: center;
        float: none;
    }

    .content.cart .card.cart_amounts p {
        float: none;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .content.cart .card.cart_amounts {
        height: 250px;
        margin-top: -20px;
    }
}

.content.cart .card.cart_amounts p span {
    font-weight: 600;
    text-decoration: underline;
}

.content.cart .card.cart_amounts p span.gross {
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
    color: #5f5f5f;
}

/* heidelpay overwrites */
.heidelpay_iframe {
    width: 100%;
    height: 650px;
    border: 0px;
}

form#frontendForm #userInfoBlock,
form#frontendForm #addressBlock,
form#frontendForm #contactBlock {
    display: none;
}

form#frontendForm table#defaultPaymentTable.mainTable {
    width: 100%;
}

form#frontendForm {
    font-family: 'Montserrat', sans-serif;
    margin-left: 0px;
}

form#frontendForm td.label label {
    display: inline;
    margin-bottom: .5rem;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    padding-left: 10px;
    word-wrap: break-word;
}

form#frontendForm label {
    font-family: 'Montserrat', sans-serif;
}

form#frontendForm input[type="email"],
form#frontendForm input[type="number"],
form#frontendForm input[type="search"],
form#frontendForm input[type="text"],
form#frontendForm input[type="tel"],
form#frontendForm input[type="url"],
form#frontendForm input[type="password"],
form#frontendForm select {
    font-family: 'Montserrat',sans-serif;
    padding: 6px;
    margin-top: 8px;
    font-size: 1.3em;
    margin-bottom: 0.5rem;
    margin-top: 3px;
    margin-left: 5px;
}

form#frontendForm th,
form#frontendForm td {
    padding: 0px;
    border-bottom: 0px;
    display: inline-block;
}

form#frontendForm td.userInput {
    padding-top: 5px;
}

form#frontendForm td.label {
    width: 240px;
}

form#frontendForm table.mainTable {
    width: 100%;
}

.frm_box {
    border: none;
    background-color: transparent;
}

form#frontendForm table#defaultPaymentTable.mainTable tbody tr#paymentBlock td.label {
    font-size: 1.3rem;
}

form#frontendForm table#defaultPaymentTable.mainTable tbody tr#paymentBlock td.label b {
    text-decoration: underline;
    font-weight: 800;
}

body > table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    border-bottom: none;
}

/* registrieren */
.eingabefeld {
    width:100%;
}

.zeilenwrapper {
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0em;
}

.zellelinks {
    display:inline-block;
    min-width:200px;

}

.zellerechts {
    display:inline-block;
    min-width:300px;
}

.fehler	{
    border:2px solid red !important;
    color: red;
}

.fehler_label,
.fehler_label a,
.fehler_label a:active,
.fehler_label a:hover {
    color: red;
}

.fehlerzelle {
    display:inline-block;
    position: relative;
    top: -25px;
    width:300px;
    color:red;
    font-size: 12px;
    font-weight: 300;
}

form div.zellerechts label {
    font-size: 12px;
    font-weight: 300;
    position: relative;
    left: 35px;
    top: -40px;
    cursor: pointer;
    margin-bottom: 25px;
    width: 270px;
}

input#daten.seitenbreit {
    position: relative;
    left: 8px;
    margin-bottom: 0px;
}

form div.zellerechts input[type="submit"] {
    margin-bottom: 75px;
}

@media screen and (max-width: 480px) {

    form div.zellerechts label {
        width: 210px;
    }

    .fehlerzelle {
        width: 100%;
    }

    .zellerechts,
    .zellelinks {
        display:inline-block;
        min-width: 100%;
    }

    .zeilenwrapper {
        padding: 0px;
    }
}

/* Topnav mobile behavior */
.topnav {
    background-color: #5f5f5f;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav .fa.fa-shopping-cart {
    font-size: 1.6rem;
}

@media screen and (max-width: 900px) {

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav input[type=text] {
        visibility: hidden;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 1090px) {

    #input_inline_search {
        visibility: hidden;
    }
}

/* Info. success, warning, error messages */
.info,
.success,
.warning,
.error {
    margin: 10px 0px;
    padding:12px;
    font-size: 0.8rem;

}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
}

/* Responsive table */
.resp_table td:nth-child(1) {
    font-weight: 600;
}

@media all and (max-width:640px) {

    .resp_table,
    .resp_table thead,
    .resp_table tbody,
    .resp_table tr,
    .resp_table th,
    .resp_table td {
        display: block;
    }

    .resp_table {
        text-align: left;
    }

    .resp_table thead {
        position: absolute;
        top: -1111px;
        left: -1111px;
    }

    .resp_table td:before {
        float: left;
        padding: 0 10px 0 0;
    }

    .resp_table td:last-child {
        border-bottom: 2px #E1E1E1 solid;
    }
}